# For LateX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.snm
*.nav
*.bcf

# For output
*.ps

# For TexStudio
*.run.xml

# For Mac OS
.DS_Store
